
.container{
    float: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 7%;
    margin-bottom: 5%;
    margin-left: 25%;
}
h2{
    font-family: 'Big Shoulders display';
    font-weight: 700px;
    font-size: 2rem;
    color: hsla(0, 0%, 100%, 0.75);
}
p{
    font-family: 'Lexend Deca';
    font-weight: 300px;
    font-size: .89em;
    
    color: hsla(0, 0%, 100%, 0.75);
}
.column1{
    background-color: hsl(31, 77%, 52%);
    width: 200px;
    padding: 1em;
    height: 50%;
}
.column2{
    background-color: hsl(184, 100%, 22%);
    width: 200px;
    padding: 1em;
    height: 50%;
}
.column3{
    background-color: hsl(179, 100%, 13%);
    width: 200px;
    padding: 1em;
    height: 50%;
}
button{
    cursor: pointer;
    margin-top: 4rem;
    margin-bottom: 1rem;
    background: hsl(0, 0%, 95%);
    font-size: 15px;
    border:  none;
    border-radius: 20px;
    padding: 10px;
    width: 80%;
}
.button1:hover{
    background-color: hsl(31, 77%, 52%);
    color: white;
    border: 1px solid white;
}
.button1{
    color:hsl(31, 77%, 52%);
    margin-top: 4rem;
}
.button2{
    color:hsl(184, 100%, 22%); 
    margin-top: 4rem;
}
.button2:hover{
    color: white;
    border: 1px solid white;
    background-color: hsl(184, 100%, 22%);
}
.button3{
    color: hsl(179, 100%, 13%);
    margin-top: 4rem;
}
.button3:hover{
    color: white;
    border: 1px solid white;
    background-color: hsl(179, 100%, 13%);
}

@media screen and (max-width: 375px) {
    .container{
        display: flex;
        flex-direction: column;
        margin: 15%;
        margin-top: 50%;
    }
    h1{ font-size: 2rem;}
    p{font-size: .76em;}
    .column1{
        width: auto;
        padding: 1rem;
        height: 50%;
    }
    .column2{
        width: auto;
        padding: 1rem;
        height: 50%;
    }
    .column3{
        width: auto;
        padding: 1rem;
        height: 50%;
    }

}